.primaryButton {
  border-radius: 1rem !important;
  padding-inline: 5rem !important;
}

.addListing {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.renderCheckbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 1.5rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
