.Label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
}

.textAndOptionText {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.switchContainer {
  display: flex;
  align-items: center;
}

.text {
  font-size: 1.4rem;
  color: rgb(var(--black));
}

.isOptional {
  font-size: 1.1rem;
  color: rgba(var(--black), 0.3);
}
