.dataTable {
  width: 100%;
}

.rowsSelection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem 2.5rem;
  background-color: rgba(var(--primary));
  padding: 0.75rem 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.selectedRowsCount {
  font-size: 1.75rem;
  font-weight: 500;
  color: rgb(var(--white));
  text-transform: capitalize;
  white-space: nowrap;
}

.buttonsGroup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.clearSelectionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  background-color: rgb(var(--white));
  border-radius: 10rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.closeIcon {
  height: 2rem;
  width: 2rem;
  filter: brightness(0) saturate(100%) invert(48%) sepia(12%) saturate(2388%)
    hue-rotate(160deg) brightness(100%) contrast(80%);
}

.tableWrapper {
  width: 100%;
  overflow-x: auto;
  /* padding-bottom: 2.5rem; */
}

table {
  width: 100%;
  /* border-spacing: 0 0.5rem; */
}

td {
  padding: var(--data-table-cell-padding-row);
}

th {
  padding: var(--data-table-cell-padding-head);
}
