@import "modern-css-reset";

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"]::-webkit-inner-spin-button::after,
input[type="number"]::-webkit-outer-spin-button::after {
  display: none;
}
